{% extends 'base.html' %}
{% load static %}
{% block content%}

<!-- Begin Page Content -->
<div class="container-fluid">
    {% if messages %}
    {% for message in messages %}
    <div class="alert  {{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"
            aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-center mb-4">
        <div class="d-flex align-items-center justify-content-start"> 
            <div class="me-1">
                <img src="{% static 'img/Uniben_logo.png' %}" alt="" class="img-fluid" width="85">
            </div>
            <div class="me-3">
                <img src="{% static 'img/Nuesa Logo.jpg' %}" alt="" class="img-fluid brandlogo" width="75">
            </div>
        </div>

        <div>
            <p class="mb-0">Welcome to ..</p>
            <h1 class="h3 mb-0 text-uppercase">Nuesa E-library</h1>
            <p class="mb-0">Nigerian Universities Engineering Students Association</p>
        </div>
    </div>

    <hr>

    <div>
        <h1 class="h4 mb-3">Select your Department</h1>
    </div>

    <!-- Content Row -->
    <div class="dept row ">
        <!-- Mechanical Engineering -->


        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card  shadow-sm h-100 py-2 mech">
                <img src="{{ Mechanical.imageURL }}" alt="" class="img-fluid">
                <div class="card-body d-flex flex-column align-items-center">
                    <h3 id="department" class="h5">{{ Mechanical.Name }} Engineering</h3>
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Select Department
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Mechanical.id 100 %}">100</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Mechanical.id 200 %}">200</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Mechanical.id 300 %}">300</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Mechanical.id 400 %}">400</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Mechanical.id 500 %}">500</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Chemical Engineering  -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card  shadow-sm h-100 py-2 Chem">
                <img src="{{ Chemical.imageURL }}" alt="" class="img-fluid">
                <div class="card-body d-flex flex-column align-items-center">
                    <h3 id="department" class="h5">{{ Chemical.Name }} Engineering</h3>
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Select Department
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Chemical.id 100 %}">100</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Chemical.id 200 %}">200</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Chemical.id 300 %}">300</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Chemical.id 400 %}">400</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Chemical.id 500 %}">500</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Computer Engineering -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow-sm h-100 py-2 comp">
                <img src="{{ Computer.imageURL}}" alt="" class="img-fluid">
                <div class="card-body d-flex flex-column align-items-center">
                    <h3 id="department" class="h5">{{ Computer.Name }} Engineering</h3>
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Select Department
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Computer.id 100 %}">100</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Computer.id 200 %}">200</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Computer.id 300 %}">300</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Computer.id 400 %}">400</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Computer.id 500 %}">500</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Civil Engineering -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow-sm h-100 py-2 civil">
                <img src="{{ Civil.imageURL }}" alt="" class="img-fluid">
                <div class="card-body d-flex flex-column align-items-center">
                    <h3 id="department" class="h5">{{ Civil.Name }} Engineering</h3>
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Select Department
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Civil.id 100 %}">100</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Civil.id 200 %}">200</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Civil.id 300 %}">300</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Civil.id 400 %}">400</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Civil.id 500 %}">500</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Electrical -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card  shadow-sm h-100 py-2 mech">
                <img src="{{ Electrical.imageURL }}" alt="" class="img-fluid">
                <div class="card-body d-flex flex-column align-items-center">
                    <h3 id="department" class="h5">{{ Electrical.Name }} Engineering</h3>
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Select Department
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Electrical.id 100 %}">100</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Electrical.id 200 %}">200</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Electrical.id 300 %}">300</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Electrical.id 400 %}">400</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Electrical.id 500 %}">500</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Production Engineering  -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card  shadow-sm h-100 py-2 Chem">
                <img src="{{ Production.imageURL }}" alt="" class="img-fluid">
                <div class="card-body d-flex flex-column align-items-center">
                    <h3 id="department" class="h5">{{ Production.Name }} Engineering</h3>
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Select Department
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Production.id 100 %}">100</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Production.id 200 %}">200</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Production.id 300 %}">300</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Production.id 400 %}">400</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Production.id 500 %}">500</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Agricultural Engineering -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow-sm h-100 py-2 comp">
                <img src="{{ Agricultural.imageURL }}" alt="" class="img-fluid">
                <div class="card-body d-flex flex-column align-items-center">
                    <h3 id="department" class="h5">{{ Agricultural.Name }} Engineering</h3>
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Select Department
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Agricultural.id 100 %}">100</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Agricultural.id 200 %}">200</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Agricultural.id 300 %}">300</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Agricultural.id 400 %}">400</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Agricultural.id 500 %}">500</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mechatronics Engineering -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow-sm h-100 py-2 civil">
                <img src="{{ Mechatronics.imageURL }}" alt="" class="img-fluid">
                <div class="card-body d-flex flex-column align-items-center">
                    <h3 id="department" class="h5">{{ Mechatronics.Name }} Engineering</h3>
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Select Department
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Mechatronics.id 100 %}">100</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Mechatronics.id 200 %}">200</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Mechatronics.id 300 %}">300</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Mechatronics.id 400 %}">400</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Mechatronics.id 500 %}">500</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Marine -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card  shadow-sm h-100 py-2 mech">
                <img src="{{ Marine.imageURL }}" alt="" class="img-fluid">
                <div class="card-body d-flex flex-column align-items-center">
                    <h3 id="department" class="h5">{{ Marine.Name }} Engineering</h3>
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Select Department
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Marine.id 100 %}">100</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Marine.id 200 %}">200</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Marine.id 300 %}">300</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Marine.id 400 %}">400</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Marine.id 500 %}">500</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Industrial Engineering  -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card  shadow-sm h-100 py-2 Chem">
                <img src="{{ Industrial.imageURL }}" alt="" class="img-fluid">
                <div class="card-body d-flex flex-column align-items-center">
                    <h3 id="department" class="h5">{{ Industrial.Name }} Engineering</h3>
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Select Department
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Industrial.id 100 %}">100</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Industrial.id 200 %}">200</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Industrial.id 300 %}">300</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Industrial.id 400 %}">400</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Industrial.id 500 %}">500</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Petroluem Engineering -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow-sm h-100 py-2 comp">
                <img src="{{ Petroluem.imageURL }}" alt="" class="img-fluid">
                <div class="card-body d-flex flex-column align-items-center">
                    <h3 id="department" class="h5">{{ Petroluem.Name }} Engineering</h3>
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Select Department
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Petroluem.id 100 %}">100</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Petroluem.id 200 %}">200</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Petroluem.id 300 %}">300</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Petroluem.id 400 %}">400</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Petroluem.id 500 %}">500</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Structural Engineering -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow-sm h-100 py-2 civil">
                <img src="{{ Structural.imageURL }}" alt="" class="img-fluid">
                <div class="card-body d-flex flex-column align-items-center">
                    <h3 id="department" class="h5">{{ Structural.Name }} Engineering</h3>
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Select Department
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Structural.id 100 %}">100</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Structural.id 200 %}">200</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Structural.id 300 %}">300</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Structural.id 400 %}">400</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Resources:department'  Structural.id 500 %}">500</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
crossorigin="anonymous"></script>
{% endblock %}