{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Neusa Elibrary</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin" />
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">
    <link href="{% static 'css/Home.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
                <!-- <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-laugh-wink"></i>
                    </div> -->
                <div class="sidebar-brand-text mx-3">Nuesa E-library</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">
                    <i class="fas fa-fw fa-house"></i>
                    <span>Home</span></a>
            </li>

            <!-- Heading -->
            <div class="sidebar-heading">
                Departments
            </div>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Mechanical -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>{{ Mechanical.Name }} </span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Levels:</h6>
                        <a class="collapse-item" href="{% url 'Resources:department'  Mechanical.id 100 %}">100</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Mechanical.id 200 %}">200</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Mechanical.id 300 %}">300</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Mechanical.id 400 %}">400</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Mechanical.id 500 %}">500</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Chemical -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsethree"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa-solid fa-flask-vial"></i>
                    <span>{{ Chemical.Name }}</span>
                </a>
                <div id="collapsethree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Levels:</h6>
                        <a class="collapse-item" href="{% url 'Resources:department'  Chemical.id 100 %}">100</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Chemical.id 200 %}">200</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Chemical.id 300 %}">300</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Chemical.id 400 %}">400</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Chemical.id 500 %}">500</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Electrical -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsefour"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa-solid fa-bolt"></i>
                    <span>{{ Electrical.Name }}</span>
                </a>
                <div id="collapsefour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Levels:</h6>
                        <a class="collapse-item" href="{% url 'Resources:department'  Electrical.id 100 %}">100</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Electrical.id 200 %}">200</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Electrical.id 300 %}">300</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Electrical.id 400 %}">400</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Electrical.id 500 %}">500</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Civil -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsefive"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa-solid fa-helmet-safety"></i>
                    <span>{{ Civil.Name }}</span>
                </a>
                <div id="collapsefive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Levels:</h6>
                        <a class="collapse-item" href="{% url 'Resources:department'  Civil.id 100 %}">100</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Civil.id 200 %}">200</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Civil.id 300 %}">300</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Civil.id 400 %}">400</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Civil.id 500 %}">500</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Computer -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsesix"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa-solid fa-computer"></i>
                    <span>{{ Computer.Name }}</span>
                </a>
                <div id="collapsesix" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Levels:</h6>
                        <a class="collapse-item" href="{% url 'Resources:department'  Computer.id 100 %}">100</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Computer.id 200 %}">200</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Computer.id 300 %}">300</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Computer.id 400 %}">400</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Computer.id 500 %}">500</a>
                    </div>
                </div>
            </li>
            <!-- Structural -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSeven"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa-regular fa-building"></i>
                    <span>{{ Structural.Name }} </span>
                </a>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Levels:</h6>
                        <a class="collapse-item" href="{% url 'Resources:department'  Structural.id 100 %}">100</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Structural.id 200 %}">200</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Structural.id 300 %}">300</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Structural.id 400 %}">400</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Structural.id 500 %}">500</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Agricultural -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseeight"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa-solid fa-truck-monster"></i>
                    <span>{{ Agricultural.Name }}</span>
                </a>
                <div id="collapseeight" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Levels:</h6>
                        <a class="collapse-item" href="{% url 'Resources:department'  Agricultural.id 100 %}">100</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Agricultural.id 200 %}">200</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Agricultural.id 300 %}">300</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Agricultural.id 400 %}">400</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Agricultural.id 500 %}">500</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Mechatronics -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsenine"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa-solid fa-lightbulb"></i>
                    <span>{{ Mechatronics.Name }}</span>
                </a>
                <div id="collapsenine" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Levels:</h6>
                        <a class="collapse-item" href="{% url 'Resources:department'  Mechatronics.id 100 %}">100</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Mechatronics.id 200 %}">200</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Mechatronics.id 300 %}">300</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Mechatronics.id 400 %}">400</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Mechatronics.id 500 %}">500</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Marine -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseten"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa-solid fa-helmet-safety"></i>
                    <span>{{ Marine.Name }}</span>
                </a>
                <div id="collapseten" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Levels:</h6>
                        <a class="collapse-item" href="{% url 'Resources:department'  Marine.id 100 %}">100</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Marine.id 200 %}">200</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Marine.id 300 %}">300</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Marine.id 400 %}">400</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Marine.id 500 %}">500</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Industrial -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseeleven"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa-solid fa-industry"></i>
                    <span>{{ Industrial.Name }}</span>
                </a>
                <div id="collapseeleven" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Levels:</h6>
                        <a class="collapse-item" href="{% url 'Resources:department'  Industrial.id 100 %}">100</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Industrial.id 200 %}">200</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Industrial.id 300 %}">300</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Industrial.id 400 %}">400</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Industrial.id 500 %}">500</a>
                    </div>
                </div>
            </li>

            <!-- Petroluem -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsetwelve"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa-solid fa-gas-pump"></i>
                    <span>{{ Petroluem.Name }}</span>
                </a>
                <div id="collapsetwelve" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Levels:</h6>
                        <a class="collapse-item" href="{% url 'Resources:department'  Petroluem.id 100 %}">100</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Petroluem.id 200 %}">200</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Petroluem.id 300 %}">300</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Petroluem.id 400 %}">400</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Petroluem.id 500 %}">500</a>
                    </div>
                </div>
            </li>

            <!-- Production  -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsethirteen"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa-solid fa-helmet-safety"></i>
                    <span>{{ Production.Name }}</span>
                </a>
                <div id="collapsethirteen" class="collapse" aria-labelledby="headingTwo"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Levels:</h6>
                        <a class="collapse-item" href="{% url 'Resources:department'  Production.id 100 %}">100</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Production.id 200 %}">200</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Production.id 300 %}">300</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Production.id 400 %}">400</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Production.id 500 %}">500</a>
                    </div>
                </div>
            </li>

             <!-- Met Mat  -->
             <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsefoutheen"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa-solid fa-wrench"></i>
                    <span>{{ Metallurgical.Name }}</span>
                </a>
                <div id="collapsefoutheen" class="collapse" aria-labelledby="headingTwo"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Levels:</h6>
                        <a class="collapse-item" href="{% url 'Resources:department'  Metallurgical.id 100 %}">100</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Metallurgical.id 200 %}">200</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Metallurgical.id 300 %}">300</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Metallurgical.id 400 %}">400</a>
                        <a class="collapse-item" href="{% url 'Resources:department'  Metallurgical.id 500 %}">500</a>
                    </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars" style="font-size: 20px;"></i>
                    </button>

                    <!-- Topbar Search -->
                    {% if deptpage %}
                    <h4 class="d-none d-sm-block">
                        Online Resources
                    </h4>
                    {% else %}
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" id="searchbar" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2" required>
                            <div class="input-group-append">
                                <button id="search" class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                    

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        {% if deptpage %}
                        <li class="nav-item dropdown no-arrow d-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw" style="font-size: 20px;"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input  id="searchbar"  type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button id="search"  class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        {% else %}
                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw" style="font-size: 20px;"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input id="searchbar1" type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button id="search1" class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        {% endif %}


                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw" style="font-size: 20px;"></i>
                                <!-- Counter - Alerts -->
                                {% if Alertscount != 0 %}
                                <span class="badge badge-danger badge-counter">{{Alertscount}}</span>
                                {% endif %}
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Notifications 
                                </h6>
                                {% if not Alerts %}
                                <a class="dropdown-item text-center small text-gray-500" href="#">No Information at the Moment </a>
                                {% else %}
                                {% for Alert in Alerts %}
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fa-solid fa-circle-info text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">{{ Alert.Date_added }}</div>
                                        <span class="font-weight-bold">{{ Alert.brief_Message }}</span>
                                    </div>
                                </a>
                                {% endfor %}

                                {% endif %}
                                
                                
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw" style="font-size: 20px;"></i>
                                <!-- Counter - Messages -->
                                <!-- {% if messagescount != 0 %}
                                <span class="badge badge-danger badge-counter">{{messagescount}}</span>
                                {% endif %} -->
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                {% for Message in messagelist %}
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="{% static 'img/undraw_profile_1.svg' %}"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div >Hi {{ request.user }}, '{{Message}}' have been uploaded </div>
                                        <div class="small text-gray-500">Admin</div>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Hello , {{ request.user }}</span>
                                {% if profile.imageURL == '' %}
                                <img class="img-profile rounded-circle" src="{% static 'img/undraw_profile.svg' %}">
                                {% else %}
                                <img class="img-profile rounded-circle" src="{{ profile.imageURL }}">
                                {% endif %}
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{% url 'Accounts:profile' %}">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    update Profile
                                </a>
                                <!-- <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a> -->
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'Accounts:logout' %}" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- //////////////////////////////////////////////////////////////////////// -->
                {% block content%}
                {% endblock %}


            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Neusa Digital Library 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'Accounts:logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Page level custom scripts -->
    
    
</body>

</html>